{% extends 'base.html' %}

{% block header %}
    <a href="/" role="button">Home</a>
    {% if current_user.is_authenticated %}
        <a href="/profile" role="button">Profile</a>
        <a href="/logout" role="button">Logout</a>
    {% endif %}
{% endblock %}

{% block content %}
<div class="row" style="padding-top: 5rem;">
    <div class="col-sm"></div>
    <div class="col-sm">
        <form method="get" action="login">
            <div class="button-group">
                <button class="primary large">Login</button>
            </div>
        </form>
    </div>
    <div class="col-sm"></div>
  </div>
{% endblock %}